[submodule "alf-core"]
	path = alf-core
	url = git@github.com:alf-tool/alf-core.git
[submodule "alf-sql"]
	path = alf-sql
	url = git@github.com:alf-tool/alf-sql.git
[submodule "alf-sequel"]
	path = alf-sequel
	url = git@github.com:alf-tool/alf-sequel.git
[submodule "alf-shell"]
	path = alf-shell
	url = git@github.com:alf-tool/alf-shell.git
[submodule "alf-rack"]
	path = alf-rack
	url = git@github.com:alf-tool/alf-rack.git
[submodule "alf-rest"]
	path = alf-rest
	url = git@github.com:alf-tool/alf-rest.git
[submodule "alf-test"]
	path = alf-test
	url = git@github.com:alf-tool/alf-test.git
